
packages/

Samples\.NativeControls/Samples\.NativeControls\.UWP/obj/

Samples\.NativeControls/Samples\.NativeControls\.Android/obj/

Samples\.NativeControls/Samples\.NativeControls\.Android/bin/

Samples\.NativeControls/Samples\.NativeControls/obj/

Samples\.NativeControls/Samples\.NativeControls/bin/

Plugin\.NativeControls\.Droid/obj/

Plugin\.NativeControls\.Droid/bin/

Plugin\.NativeControls/obj/

Plugin\.NativeControls/bin/

\.vs/
